@font-face {
    font-family: 'BebasRegular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-image: url("../img/haze4.jpg");
	background-size: 120% auto;
	margin: 10px;
}

h1{
	font: 50px/50px 'BebasRegular', Arial, sans-serif;
	margin:0px;
	color:rgba(255,255,255,1);
	padding: 30px;
}

h2{
	font: 20px/20px 'BebasRegular', Arial, sans-serif;
	margin:0px;
	color:rgba(255,255,255,1);
	padding: 0px 30px 30px 30px;

}

h3{
	font-family: 'Abel', sans-serif;
	font-size: 75px;
	margin:0px;
	color:rgb(90, 90, 90);
}
#center-box{
	width: 90%;
	margin:0 auto;
	
}


.psi-box{
	width:180px;
	height:18px;
	padding:10px;
	text-align: center;
	/*background-image: url("../img/bg3.png");*/
	background-color: rgba(0,0,0,0.7);
}

.psi-box2{
	height:300px;
	background-color: black;
	visibility: hidden;
	
}

.blackbox{
	height:90px;
	width:300px;
	margin-top:10px;
	background-color: rgb(90, 90, 90);
	border: 3px solid orange;
}

.blackbox-title{
	height:100%;
	width:150px;
	background-color: orange;
	float:left;
}